@import url(https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i&display=swap);





body {
  font-family: Rubik;
}
.display-1 {
  font-family: 'Rubik', sans-serif;
  font-size: 4rem;
  font-display: swap;
}
.display-1 > .mbr-iconfont {
  font-size: 6.4rem;
}
.display-2 {
  font-family: 'Rubik', sans-serif;
  font-size: 3rem;
  font-display: swap;
}
.display-2 > .mbr-iconfont {
  font-size: 4.8rem;
}
.display-4 {
  font-family: 'Rubik', sans-serif;
  font-size: 0.8rem;
  font-display: swap;
}
.display-4 > .mbr-iconfont {
  font-size: 1.28rem;
}
.display-5 {
  font-family: 'Rubik', sans-serif;
  font-size: 1.4rem;
  font-display: swap;
}
.display-5 > .mbr-iconfont {
  font-size: 2.24rem;
}
.display-7 {
  font-family: 'Rubik', sans-serif;
  font-size: 1.2rem;
  font-display: swap;
}
.display-7 > .mbr-iconfont {
  font-size: 1.92rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.2rem;
    font-size: calc( 2.05rem + (4 - 2.05) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (2.05rem + (4 - 2.05) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.64rem;
    font-size: calc( 0.93rem + (0.8 - 0.93) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (0.93rem + (0.8 - 0.93) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.12rem;
    font-size: calc( 1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-sm {
  padding: 0.6rem 1.5rem;
  border-radius: 3px;
}
.btn-md {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-lg {
  padding: 1.2rem 3.2rem;
  border-radius: 3px;
}
.bg-primary {
  background-color: #e4d295 !important;
}
.bg-success {
  background-color: #f7ed4a !important;
}
.bg-info {
  background-color: #cebfaf !important;
}
.bg-warning {
  background-color: #879a9f !important;
}
.bg-danger {
  background-color: #e4d295 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #e4d295 !important;
  border-color: #e4d295 !important;
  color: #615119 !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #615119 !important;
  background-color: #d4b858 !important;
  border-color: #d4b858 !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #615119 !important;
  background-color: #d4b858 !important;
  border-color: #d4b858 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #4f4943 !important;
  border-color: #4f4943 !important;
  color: #ffffff !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #262320 !important;
  border-color: #262320 !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #262320 !important;
  border-color: #262320 !important;
}
.btn-info,
.btn-info:active {
  background-color: #cebfaf !important;
  border-color: #cebfaf !important;
  color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #b19980 !important;
  border-color: #b19980 !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #b19980 !important;
  border-color: #b19980 !important;
}
.btn-success,
.btn-success:active {
  background-color: #f7ed4a !important;
  border-color: #f7ed4a !important;
  color: #3f3c03 !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #3f3c03 !important;
  background-color: #eadd0a !important;
  border-color: #eadd0a !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #3f3c03 !important;
  background-color: #eadd0a !important;
  border-color: #eadd0a !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #879a9f !important;
  border-color: #879a9f !important;
  color: #ffffff !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #617479 !important;
  border-color: #617479 !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #617479 !important;
  border-color: #617479 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #e4d295 !important;
  border-color: #e4d295 !important;
  color: #615119 !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #615119 !important;
  background-color: #d4b858 !important;
  border-color: #d4b858 !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #615119 !important;
  background-color: #d4b858 !important;
  border-color: #d4b858 !important;
}
.btn-white {
  color: #333333 !important;
}
.btn-white,
.btn-white:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-black,
.btn-black:active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background: none;
  border-color: #cfaf44;
  color: #cfaf44;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #615119;
  background-color: #e4d295;
  border-color: #e4d295;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #615119 !important;
  background-color: #e4d295 !important;
  border-color: #e4d295 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background: none;
  border-color: #181614;
  color: #181614;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #4f4943;
  border-color: #4f4943;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #4f4943 !important;
  border-color: #4f4943 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background: none;
  border-color: #a78c70;
  color: #a78c70;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #cebfaf;
  border-color: #cebfaf;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #cebfaf !important;
  border-color: #cebfaf !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background: none;
  border-color: #d2c609;
  color: #d2c609;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #3f3c03;
  background-color: #f7ed4a;
  border-color: #f7ed4a;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #3f3c03 !important;
  background-color: #f7ed4a !important;
  border-color: #f7ed4a !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background: none;
  border-color: #55666b;
  color: #55666b;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #879a9f;
  border-color: #879a9f;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #879a9f !important;
  border-color: #879a9f !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background: none;
  border-color: #cfaf44;
  color: #cfaf44;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #615119;
  background-color: #e4d295;
  border-color: #e4d295;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #615119 !important;
  background-color: #e4d295 !important;
  border-color: #e4d295 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #ffffff;
  background-color: #333333;
  border-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  background-color: #ffffff;
  border-color: #ffffff;
}
.text-primary {
  color: #e4d295 !important;
}
.text-secondary {
  color: #4f4943 !important;
}
.text-success {
  color: #f7ed4a !important;
}
.text-info {
  color: #cebfaf !important;
}
.text-warning {
  color: #879a9f !important;
}
.text-danger {
  color: #e4d295 !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #cfaf44 !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #181614 !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #d2c609 !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #a78c70 !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #55666b !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #cfaf44 !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #cebfaf;
}
.alert-warning {
  background-color: #879a9f;
}
.alert-danger {
  background-color: #e4d295;
}
.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: none !important;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2) !important;
  -webkit-box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2) !important;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #e4d295;
  border-color: #e4d295;
  color: #76621e;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #e4d295;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ced6d8;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
#scrollToTop a {
  border-radius: 100px;
}
.form-control {
  font-family: 'Rubik', sans-serif;
  font-size: 1.2rem;
  font-display: swap;
}
.form-control > .mbr-iconfont {
  font-size: 1.92rem;
}
blockquote {
  border-color: #e4d295;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
.mbr-form .input-group-btn a.btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn a.btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.form2 .form-control {
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
}
.form2 .input-group-btn a.btn {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.form2 .input-group-btn button[type="submit"] {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.form3 input[type="email"] {
  border-radius: 100px !important;
}
@media (max-width: 349px) {
  .form2 input[type="email"] {
    border-radius: 100px !important;
  }
  .form2 .input-group-btn a.btn {
    border-radius: 100px !important;
  }
  .form2 .input-group-btn button[type="submit"] {
    border-radius: 100px !important;
  }
}
@media (max-width: 767px) {
  .btn {
    font-size: .75rem !important;
  }
  .btn .mbr-iconfont {
    font-size: 1rem !important;
  }
}
/* Footer */
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #e4d295;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #e4d295;
}
.footer3 input[type="email"],
.footer4 input[type="email"] {
  border-radius: 100px !important;
}
.footer3 .input-group-btn a.btn,
.footer4 .input-group-btn a.btn {
  border-radius: 100px !important;
}
.footer3 .input-group-btn button[type="submit"],
.footer4 .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
}
/* Headers*/
.header13 .form-inline input[type="email"],
.header14 .form-inline input[type="email"] {
  border-radius: 100px;
}
.header13 .form-inline input[type="text"],
.header14 .form-inline input[type="text"] {
  border-radius: 100px;
}
.header13 .form-inline input[type="tel"],
.header14 .form-inline input[type="tel"] {
  border-radius: 100px;
}
.header13 .form-inline a.btn,
.header14 .form-inline a.btn {
  border-radius: 100px;
}
.header13 .form-inline button,
.header14 .form-inline button {
  border-radius: 100px !important;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .card-wrapper {
    flex: auto !important;
  }
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #e4d295;
  color: #000000;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: currentColor;
  border-bottom-color: currentColor;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #e4d295;
  border-bottom-color: #e4d295;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #000000 !important;
  background-color: #e4d295 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #4f4943 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 100px;
  height: 100px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23e4d295' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.3;
}
.cid-rPtKfPJy9o {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #4f4943;
}
.cid-rPb8tx7bV0 {
  padding-top: 90px;
  padding-bottom: 75px;
  background-image: url("../../../assets/images/7-eleven-exterior-photo-612x401.jpeg");
}
.cid-rPb8tx7bV0 H1 {
  text-align: center;
  color: #ffffff;
}
.cid-rPb8tx7bV0 .mbr-text,
.cid-rPb8tx7bV0 .mbr-section-btn {
  color: #f9f295;
  text-align: center;
}
.cid-rPb08gf4OP {
  padding-top: 30px;
  padding-bottom: 0px;
  background-color: #b1a374;
}
.cid-rPb08gf4OP .mbr-section-subtitle {
  color: #4f4943;
}
.cid-rPb08gf4OP .btn {
  margin: 0 0 .5rem 0;
}
.cid-rPb08gf4OP H2 {
  color: #4f4943;
}
.cid-rPb08JqoQO {
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #4f4943;
}
.cid-rPb08JqoQO .mbr-section-subtitle {
  color: #e4d295;
  text-align: left;
}
.cid-rPb08JqoQO .btn {
  margin: 0 0 .5rem 0;
}
.cid-rPb08JqoQO H2 {
  color: #e4d295;
}
.cid-rPb0e8Fix6 {
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #b1a374;
}
.cid-rPb0e8Fix6 .mbr-section-subtitle {
  color: #4f4943;
}
.cid-rPb0e8Fix6 .btn {
  margin: 0 0 .5rem 0;
}
.cid-rPb0e8Fix6 H2 {
  color: #4f4943;
}
.cid-rQTREWoiX1 {
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #4f4943;
}
.cid-rQTREWoiX1 .mbr-section-subtitle {
  color: #e4d295;
  text-align: left;
}
.cid-rQTREWoiX1 .btn {
  margin: 0 0 .5rem 0;
}
.cid-rQTREWoiX1 H2 {
  color: #e4d295;
}
.cid-rPbeLGOgVR {
  padding-top: 30px;
  padding-bottom: 0px;
  background-color: #b1a374;
}
.cid-rPbeLGOgVR .title {
  padding-bottom: 2.5rem;
}
.cid-rPbeLGOgVR .mbr-text {
  color: #b1a374;
  margin: 0;
  padding-top: 0.5rem;
}
.cid-rPbeLGOgVR .iconfont-wrapper {
  display: flex;
  align-items: center;
  width: 2rem;
  height: 2rem;
  margin-right: 2rem;
}
.cid-rPbeLGOgVR .iconfont-wrapper .amp-iconfont {
  font-size: 2rem;
}
.cid-rPbeLGOgVR .wrapper {
  display: flex;
  padding: 1rem 0;
}
.cid-rPbeLGOgVR .wrapper .b-info {
  width: 100%;
}
@media (max-width: 767px) {
  .cid-rPbeLGOgVR .iconfont-wrapper {
    display: none;
  }
}
.cid-rPbeLGOgVR H2 {
  color: #4f4943;
  text-align: center;
}
.cid-rPbeLGOgVR H5 {
  color: #4f4943;
}
.cid-rPb2OCUUaZ {
  padding-top: 30px;
  padding-bottom: 0px;
  background-color: #4f4943;
}
.cid-rPb2OCUUaZ .mbr-section-subtitle {
  color: #ffffff;
}
.cid-rPb2OCUUaZ .formoid {
  margin: auto;
}
.cid-rPb2OCUUaZ .form-control {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.cid-rPb2OCUUaZ .input-group-btn .btn {
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin: 0 !important;
}
.cid-rPb2OCUUaZ a:not([href]):not([tabindex]) {
  color: #fff;
}
.cid-rPb2OCUUaZ a.btn-white:not([href]):not([tabindex]) {
  color: #333;
}
@media (max-width: 768px) {
  .cid-rPb2OCUUaZ .mbr-form .row {
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    align-items: center;
  }
  .cid-rPb2OCUUaZ .form-group,
  .cid-rPb2OCUUaZ .input-group-btn,
  .cid-rPb2OCUUaZ .input-group-btn .btn {
    max-width: 300px;
    width: 100%;
  }
}
@media (min-width: 769px) {
  .cid-rPb2OCUUaZ .mbr-form .row > * {
    padding: 0 0.5rem;
  }
}
.cid-rPb2OCUUaZ H2 {
  color: #b1a374;
  text-align: center;
}
.cid-rPtPp497zf {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #4f4943;
}
.cid-rPtPp497zf .row-links {
  width: 100%;
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-rPtPp497zf .social-row {
  width: 100%;
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-rPtPp497zf .media-container-row {
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}
.cid-rPtPp497zf .media-container-row .foot-menu {
  list-style: none;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 0;
}
.cid-rPtPp497zf .media-container-row .foot-menu li {
  padding: 0 1rem 1rem 1rem;
}
.cid-rPtPp497zf .media-container-row .foot-menu li p {
  margin: 0;
}
.cid-rPtPp497zf .media-container-row .social-list {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
.cid-rPtPp497zf .media-container-row .social-list .mbr-iconfont-social {
  font-size: 1.5rem;
  color: #ffffff;
}
.cid-rPtPp497zf .media-container-row .social-list .soc-item {
  margin: 0 .5rem;
}
.cid-rPtPp497zf .media-container-row .social-list a {
  margin: 0;
  opacity: .5;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}
.cid-rPtPp497zf .media-container-row .social-list a:hover {
  opacity: 1;
}
@media (max-width: 767px) {
  .cid-rPtPp497zf .media-container-row .social-list {
    -webkit-justify-content: center;
    justify-content: center;
  }
}
.cid-rPtPp497zf .media-container-row .row-copirayt {
  word-break: break-word;
  width: 100%;
}
.cid-rPtPp497zf .media-container-row .row-copirayt p {
  width: 100%;
}
.cid-rPtPp497zf foot-menu-item {
  text-align: right;
}
.cid-rPtPp497zf .media-container-row .mbr-text {
  color: #4f4943;
}
.cid-rPsFtbxGtE {
  padding-top: 30px;
  padding-bottom: 0px;
  background-color: #4f4943;
}
.cid-rPsFtbxGtE .mbr-section-btn > * {
  margin: 0;
}
.cid-rPsFtbxGtE h4 {
  font-weight: 500;
}
.cid-rPsFtbxGtE p {
  color: #232323;
}
.cid-rPsFtbxGtE .aside-content {
  -webkit-flex-basis: 100%;
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.cid-rPsFtbxGtE .block-content {
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  word-break: break-word;
}
.cid-rPsFtbxGtE .media {
  margin: initial;
  align-items: center;
  -webkit-align-items: center;
}
.cid-rPsFtbxGtE .mbr-figure {
  align-self: flex-start;
  -webkit-align-self: flex-start;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
}
.cid-rPsFtbxGtE .card-img {
  padding-right: 2rem;
  width: auto;
}
.cid-rPsFtbxGtE .card-img span {
  font-size: 72px;
  color: #707070;
}
@media (min-width: 992px) {
  .cid-rPsFtbxGtE .mbr-figure {
    padding-right: 4rem;
  }
}
@media (max-width: 991px) {
  .cid-rPsFtbxGtE .mbr-figure {
    padding-right: 0;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
  }
}
@media (max-width: 300px) {
  .cid-rPsFtbxGtE .card-img span {
    font-size: 40px !important;
  }
}
.cid-rPsFtbxGtE .cost {
  text-decoration: line-through;
  color: #767676;
}
.cid-rPsFtbxGtE .text1 {
  color: #ffffff;
}
.cid-rPsFtbxGtE H2 {
  color: #e4d295;
}
.cid-rPsDs5w9wh {
  padding-top: 75px;
  padding-bottom: 75px;
  position: relative;
  background-color: #4f4943;
}
.cid-rPsDs5w9wh p {
  color: #767676;
}
.cid-rPsDs5w9wh .card {
  border-radius: 0px;
  margin-bottom: -1px;
}
.cid-rPsDs5w9wh .card .card-header {
  border-radius: 0px;
  border: 0px;
  padding: 0;
}
.cid-rPsDs5w9wh .card .card-header a.panel-title {
  margin-bottom: 0;
  margin-top: -1px;
  font-weight: 500;
  font-style: normal;
  display: block;
  text-decoration: none !important;
  line-height: normal;
}
.cid-rPsDs5w9wh .card .card-header a.panel-title:focus {
  text-decoration: none !important;
}
.cid-rPsDs5w9wh .card .card-header a.panel-title h4 {
  border: 1px solid #dfdfdf;
  padding: 1.3rem 2rem;
  margin-bottom: 0;
}
.cid-rPsDs5w9wh .card .card-header a.panel-title h4 .sign {
  padding-right: 1rem;
}
.cid-rPsDs5w9wh DIV {
  text-align: left;
}
.cid-rPsDs5w9wh .panel-text {
  color: #b1a374;
  text-align: left;
}
.cid-rPsDs5w9wh H4 {
  color: #e4d295;
  text-align: left;
}
.cid-rPsDs5w9wh H2 {
  color: #e4d295;
  text-align: left;
}
.cid-rPsNPq0wn2 {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #4f4943;
}
.cid-rPsNPq0wn2 .title {
  margin-bottom: 2rem;
}
.cid-rPsNPq0wn2 .mbr-section-subtitle {
  color: #e4d295;
}
.cid-rPsNPq0wn2 a:not([href]):not([tabindex]) {
  color: #fff;
  border-radius: 3px;
}
.cid-rPsNPq0wn2 a.btn-white:not([href]):not([tabindex]) {
  color: #333;
}
.cid-rPsNPq0wn2 textarea.form-control {
  min-height: 188px;
}
.cid-rPsNPq0wn2 H2 {
  color: #e4d295;
}
.cid-rPsNPq0wn2 LABEL {
  color: #b1a374;
}
.cid-rPtPp497zf {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #4f4943;
}
.cid-rPtPp497zf .row-links {
  width: 100%;
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-rPtPp497zf .social-row {
  width: 100%;
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-rPtPp497zf .media-container-row {
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}
.cid-rPtPp497zf .media-container-row .foot-menu {
  list-style: none;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 0;
}
.cid-rPtPp497zf .media-container-row .foot-menu li {
  padding: 0 1rem 1rem 1rem;
}
.cid-rPtPp497zf .media-container-row .foot-menu li p {
  margin: 0;
}
.cid-rPtPp497zf .media-container-row .social-list {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
.cid-rPtPp497zf .media-container-row .social-list .mbr-iconfont-social {
  font-size: 1.5rem;
  color: #ffffff;
}
.cid-rPtPp497zf .media-container-row .social-list .soc-item {
  margin: 0 .5rem;
}
.cid-rPtPp497zf .media-container-row .social-list a {
  margin: 0;
  opacity: .5;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}
.cid-rPtPp497zf .media-container-row .social-list a:hover {
  opacity: 1;
}
@media (max-width: 767px) {
  .cid-rPtPp497zf .media-container-row .social-list {
    -webkit-justify-content: center;
    justify-content: center;
  }
}
.cid-rPtPp497zf .media-container-row .row-copirayt {
  word-break: break-word;
  width: 100%;
}
.cid-rPtPp497zf .media-container-row .row-copirayt p {
  width: 100%;
}
.cid-rPtPp497zf foot-menu-item {
  text-align: right;
}
.cid-rPtPp497zf .media-container-row .mbr-text {
  color: #4f4943;
}
.cid-rPt7hNuRmN {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #4f4943;
  background: linear-gradient(45deg, #4f4943, #4f4943);
}
.cid-rPt7hNuRmN .media-container-row {
  flex-direction: row-reverse;
  -webkit-flex-direction: row-reverse;
}
@media (min-width: 992px) {
  .cid-rPt7hNuRmN .mbr-figure {
    padding-right: 4rem;
    padding-right: 0;
    padding-left: 4rem;
  }
}
@media (max-width: 991px) {
  .cid-rPt7hNuRmN .mbr-figure {
    padding-bottom: 3rem;
  }
}
@media (max-width: 767px) {
  .cid-rPt7hNuRmN .mbr-text {
    text-align: center;
  }
}
.cid-rPt7hNuRmN H1 {
  color: #e4d295;
}
.cid-rPt8g48gTx {
  padding-top: 45px;
  padding-bottom: 45px;
  position: relative;
  background-color: #4f4943;
}
.cid-rPt8g48gTx p {
  color: #767676;
}
.cid-rPt8g48gTx .card {
  border-radius: 0px;
  margin-bottom: -1px;
}
.cid-rPt8g48gTx .card .card-header {
  border-radius: 0px;
  border: 0px;
  padding: 0;
}
.cid-rPt8g48gTx .card .card-header a.panel-title {
  margin-bottom: 0;
  margin-top: -1px;
  font-weight: 500;
  font-style: normal;
  display: block;
  text-decoration: none !important;
  line-height: normal;
}
.cid-rPt8g48gTx .card .card-header a.panel-title:focus {
  text-decoration: none !important;
}
.cid-rPt8g48gTx .card .card-header a.panel-title h4 {
  border: 1px solid #dfdfdf;
  padding: 1.3rem 2rem;
  margin-bottom: 0;
}
.cid-rPt8g48gTx .card .card-header a.panel-title h4 .sign {
  padding-right: 1rem;
}
.cid-rPt8g48gTx DIV {
  text-align: left;
}
.cid-rPt8g48gTx .panel-text {
  color: #b1a374;
}
.cid-rPt8g48gTx H4 {
  color: #e4d295;
}
.cid-rPt8g48gTx H2 {
  color: #e4d295;
  text-align: left;
}
.cid-rPteQVfGir {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #4f4943;
}
.cid-rPteQVfGir .title {
  margin-bottom: 2rem;
}
.cid-rPteQVfGir .mbr-section-subtitle {
  color: #e4d295;
}
.cid-rPteQVfGir a:not([href]):not([tabindex]) {
  color: #fff;
  border-radius: 3px;
}
.cid-rPteQVfGir a.btn-white:not([href]):not([tabindex]) {
  color: #333;
}
.cid-rPteQVfGir textarea.form-control {
  min-height: 188px;
}
.cid-rPteQVfGir H2 {
  color: #e4d295;
}
.cid-rPteQVfGir LABEL {
  color: #b1a374;
}
.cid-rPtPp497zf {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #4f4943;
}
.cid-rPtPp497zf .row-links {
  width: 100%;
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-rPtPp497zf .social-row {
  width: 100%;
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-rPtPp497zf .media-container-row {
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}
.cid-rPtPp497zf .media-container-row .foot-menu {
  list-style: none;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 0;
}
.cid-rPtPp497zf .media-container-row .foot-menu li {
  padding: 0 1rem 1rem 1rem;
}
.cid-rPtPp497zf .media-container-row .foot-menu li p {
  margin: 0;
}
.cid-rPtPp497zf .media-container-row .social-list {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
.cid-rPtPp497zf .media-container-row .social-list .mbr-iconfont-social {
  font-size: 1.5rem;
  color: #ffffff;
}
.cid-rPtPp497zf .media-container-row .social-list .soc-item {
  margin: 0 .5rem;
}
.cid-rPtPp497zf .media-container-row .social-list a {
  margin: 0;
  opacity: .5;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}
.cid-rPtPp497zf .media-container-row .social-list a:hover {
  opacity: 1;
}
@media (max-width: 767px) {
  .cid-rPtPp497zf .media-container-row .social-list {
    -webkit-justify-content: center;
    justify-content: center;
  }
}
.cid-rPtPp497zf .media-container-row .row-copirayt {
  word-break: break-word;
  width: 100%;
}
.cid-rPtPp497zf .media-container-row .row-copirayt p {
  width: 100%;
}
.cid-rPtPp497zf foot-menu-item {
  text-align: right;
}
.cid-rPtPp497zf .media-container-row .mbr-text {
  color: #4f4943;
}
.cid-rPFmF9O3IL {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #4f4943;
  background: linear-gradient(45deg, #4f4943, #4f4943);
}
.cid-rPFmF9O3IL .media-container-row {
  flex-direction: row-reverse;
  -webkit-flex-direction: row-reverse;
}
@media (min-width: 992px) {
  .cid-rPFmF9O3IL .mbr-figure {
    padding-right: 4rem;
    padding-right: 0;
    padding-left: 4rem;
  }
}
@media (max-width: 991px) {
  .cid-rPFmF9O3IL .mbr-figure {
    padding-bottom: 3rem;
  }
}
@media (max-width: 767px) {
  .cid-rPFmF9O3IL .mbr-text {
    text-align: center;
  }
}
.cid-rPFmF9O3IL H1 {
  color: #e4d295;
}
.cid-rPtxKb0JTP {
  padding-top: 45px;
  padding-bottom: 60px;
  position: relative;
  background-color: #4f4943;
}
.cid-rPtxKb0JTP p {
  color: #767676;
}
.cid-rPtxKb0JTP .card {
  border-radius: 0px;
  margin-bottom: -1px;
}
.cid-rPtxKb0JTP .card .card-header {
  border-radius: 0px;
  border: 0px;
  padding: 0;
}
.cid-rPtxKb0JTP .card .card-header a.panel-title {
  margin-bottom: 0;
  margin-top: -1px;
  font-weight: 500;
  font-style: normal;
  display: block;
  text-decoration: none !important;
  line-height: normal;
}
.cid-rPtxKb0JTP .card .card-header a.panel-title:focus {
  text-decoration: none !important;
}
.cid-rPtxKb0JTP .card .card-header a.panel-title h4 {
  border: 1px solid #dfdfdf;
  padding: 1.3rem 2rem;
  margin-bottom: 0;
}
.cid-rPtxKb0JTP .card .card-header a.panel-title h4 .sign {
  padding-right: 1rem;
}
.cid-rPtxKb0JTP DIV {
  text-align: left;
}
.cid-rPtxKb0JTP .panel-text {
  color: #b1a374;
}
.cid-rPtxKb0JTP H4 {
  color: #e4d295;
}
.cid-rPtxKb0JTP H2 {
  color: #e4d295;
  text-align: left;
}
.cid-rPtyLYfw7y {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #4f4943;
}
.cid-rPtyLYfw7y .title {
  margin-bottom: 2rem;
}
.cid-rPtyLYfw7y .mbr-section-subtitle {
  color: #e4d295;
}
.cid-rPtyLYfw7y a:not([href]):not([tabindex]) {
  color: #fff;
  border-radius: 3px;
}
.cid-rPtyLYfw7y a.btn-white:not([href]):not([tabindex]) {
  color: #333;
}
.cid-rPtyLYfw7y textarea.form-control {
  min-height: 188px;
}
.cid-rPtyLYfw7y H2 {
  color: #e4d295;
}
.cid-rPtyLYfw7y LABEL {
  color: #b1a374;
}
.cid-rPtPp497zf {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #4f4943;
}
.cid-rPtPp497zf .row-links {
  width: 100%;
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-rPtPp497zf .social-row {
  width: 100%;
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-rPtPp497zf .media-container-row {
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}
.cid-rPtPp497zf .media-container-row .foot-menu {
  list-style: none;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 0;
}
.cid-rPtPp497zf .media-container-row .foot-menu li {
  padding: 0 1rem 1rem 1rem;
}
.cid-rPtPp497zf .media-container-row .foot-menu li p {
  margin: 0;
}
.cid-rPtPp497zf .media-container-row .social-list {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
.cid-rPtPp497zf .media-container-row .social-list .mbr-iconfont-social {
  font-size: 1.5rem;
  color: #ffffff;
}
.cid-rPtPp497zf .media-container-row .social-list .soc-item {
  margin: 0 .5rem;
}
.cid-rPtPp497zf .media-container-row .social-list a {
  margin: 0;
  opacity: .5;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}
.cid-rPtPp497zf .media-container-row .social-list a:hover {
  opacity: 1;
}
@media (max-width: 767px) {
  .cid-rPtPp497zf .media-container-row .social-list {
    -webkit-justify-content: center;
    justify-content: center;
  }
}
.cid-rPtPp497zf .media-container-row .row-copirayt {
  word-break: break-word;
  width: 100%;
}
.cid-rPtPp497zf .media-container-row .row-copirayt p {
  width: 100%;
}
.cid-rPtPp497zf foot-menu-item {
  text-align: right;
}
.cid-rPtPp497zf .media-container-row .mbr-text {
  color: #4f4943;
}
.cid-rPEoh65zwU {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #b1a374;
}
.cid-rPEoh65zwU .testimonial-text {
  font-style: italic;
  font-weight: 300;
}
.cid-rPEoh65zwU .mbr-author-name {
  font-weight: bold;
  color: #4f4943;
}
.cid-rPEoh65zwU .media-container-row {
  word-wrap: break-word;
  word-break: break-word;
}
@media (max-width: 991px) {
  .cid-rPEoh65zwU .mbr-figure,
  .cid-rPEoh65zwU img {
    max-height: 300px;
    width: auto;
    margin: auto;
  }
  .cid-rPEoh65zwU .media-content {
    padding-top: 1.5rem !important;
  }
}
.cid-rPFoPiFNR4 {
  padding-top: 0px;
  padding-bottom: 60px;
  background-color: #b1a374;
}
.cid-rPFoPiFNR4 p {
  color: #767676;
}
.cid-rPFoPiFNR4 .mbr-section-subtitle {
  color: #767676;
}
.cid-rPFoPiFNR4 .accordion-content {
  flex-basis: 100%;
  -webkit-flex-basis: 100%;
}
.cid-rPFoPiFNR4 .panel-group {
  width: 100%;
}
.cid-rPFoPiFNR4 .card {
  border-radius: 0px;
  margin-bottom: -1px;
}
.cid-rPFoPiFNR4 .card .card-header {
  border-radius: 0px;
  border: 0px;
  padding: 0;
}
.cid-rPFoPiFNR4 .card .card-header a.panel-title {
  margin-bottom: 0;
  font-style: normal;
  font-weight: 500;
  display: block;
  text-decoration: none !important;
  margin-top: -1px;
  line-height: normal;
}
.cid-rPFoPiFNR4 .card .card-header a.panel-title:focus {
  text-decoration: none !important;
}
.cid-rPFoPiFNR4 .card .card-header a.panel-title h4 {
  padding: 1.3rem 2rem;
  border: 1px solid #dfdfdf;
  margin-bottom: 0;
}
.cid-rPFoPiFNR4 .card .card-header a.panel-title h4 .sign {
  padding-right: 1rem;
}
.cid-rPFoPiFNR4 .mbr-figure {
  -webkit-align-self: flex-start;
  align-self: flex-start;
  padding-left: 4rem;
}
@media (max-width: 991px) {
  .cid-rPFoPiFNR4 .mbr-figure {
    padding-right: 0;
    padding-left: 0;
    padding-top: 2rem;
  }
}
.cid-rPFoPiFNR4 H4 {
  color: #4f4943;
}
.cid-rPFoPiFNR4 H2 {
  color: #4f4943;
  text-align: left;
}
.cid-rPEqIkW3lm {
  padding-top: 15px;
  padding-bottom: 30px;
  background-color: #b1a374;
}
.cid-rPEqIkW3lm .title {
  margin-bottom: 2rem;
}
.cid-rPEqIkW3lm .mbr-section-subtitle {
  color: #4f4943;
}
.cid-rPEqIkW3lm a:not([href]):not([tabindex]) {
  color: #fff;
  border-radius: 3px;
}
.cid-rPEqIkW3lm a.btn-white:not([href]):not([tabindex]) {
  color: #333;
}
.cid-rPEqIkW3lm textarea.form-control {
  min-height: 188px;
}
.cid-rPEqIkW3lm H2 {
  color: #4f4943;
}
.cid-rPEqIkW3lm LABEL {
  color: #4f4943;
}
.cid-rPtPp497zf {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #4f4943;
}
.cid-rPtPp497zf .row-links {
  width: 100%;
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-rPtPp497zf .social-row {
  width: 100%;
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-rPtPp497zf .media-container-row {
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}
.cid-rPtPp497zf .media-container-row .foot-menu {
  list-style: none;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 0;
}
.cid-rPtPp497zf .media-container-row .foot-menu li {
  padding: 0 1rem 1rem 1rem;
}
.cid-rPtPp497zf .media-container-row .foot-menu li p {
  margin: 0;
}
.cid-rPtPp497zf .media-container-row .social-list {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
.cid-rPtPp497zf .media-container-row .social-list .mbr-iconfont-social {
  font-size: 1.5rem;
  color: #ffffff;
}
.cid-rPtPp497zf .media-container-row .social-list .soc-item {
  margin: 0 .5rem;
}
.cid-rPtPp497zf .media-container-row .social-list a {
  margin: 0;
  opacity: .5;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}
.cid-rPtPp497zf .media-container-row .social-list a:hover {
  opacity: 1;
}
@media (max-width: 767px) {
  .cid-rPtPp497zf .media-container-row .social-list {
    -webkit-justify-content: center;
    justify-content: center;
  }
}
.cid-rPtPp497zf .media-container-row .row-copirayt {
  word-break: break-word;
  width: 100%;
}
.cid-rPtPp497zf .media-container-row .row-copirayt p {
  width: 100%;
}
.cid-rPtPp497zf foot-menu-item {
  text-align: right;
}
.cid-rPtPp497zf .media-container-row .mbr-text {
  color: #4f4943;
}
.cid-rPtgJLf0aO {
  padding-top: 60px;
  padding-bottom: 0px;
  background-color: #b1a374;
}
.cid-rPtgJLf0aO H1 {
  color: #4f4943;
}
.cid-rPEanMMLv7 {
  padding-top: 0px;
  padding-bottom: 60px;
  background-color: #4f4943;
}
.cid-rPEanMMLv7 .mbr-section-text {
  color: #b1a374;
}
.cid-rPEanMMLv7 .mbr-section-subtitle {
  color: #767676;
}
.cid-rPEanMMLv7 .tabcont {
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-rPEanMMLv7 .mbr-iconfont {
  font-size: 48px;
}
.cid-rPEanMMLv7 .card-img {
  margin-bottom: 1.5rem;
}
.cid-rPEanMMLv7 .tab-content-row {
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-rPEanMMLv7 .tab-content {
  margin-top: 3rem;
  width: 100%;
}
.cid-rPEanMMLv7 .nav-tabs {
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  border-bottom: none;
}
.cid-rPEanMMLv7 .nav-tabs .nav-link {
  box-sizing: border-box;
  color: #b1a374;
  font-style: normal;
  font-weight: 500;
  border-radius: 3px;
  padding: 1rem 3rem;
  margin: 0.4rem .8rem !important;
  transition: color .3s;
  border: 2px solid #b1a374;
}
.cid-rPEanMMLv7 .nav-tabs .nav-link:hover {
  background: #b1a374;
}
.cid-rPEanMMLv7 .nav-tabs .nav-link.active {
  color: #ffffff;
  font-style: normal;
  border: 2px solid #b1a374;
  background: #b1a374;
}
.cid-rPEanMMLv7 .nav-tabs .nav-link.active:hover {
  border: 2px solid #b1a374;
}
.cid-rPEanMMLv7 H4 {
  color: #b1a374;
}
